---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

body {

    background: rgb(112, 106, 106) ;

}
.post{
    background: rgba(124, 69, 103, 0.651) ;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;

}

